<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NewsMapper">
    
    <resultMap type="News" id="NewsResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="description"    column="description"    />
        <result property="views"    column="views"    />
        <result property="status"    column="status"    />
        <result property="showTime"    column="show_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="languageId"    column="language_id"    />
    </resultMap>

    <sql id="selectNewsVo">
        select id, title, content, description, views, status, show_time, create_time, language_id from news
    </sql>

    <select id="selectNewsList" parameterType="News" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="showTime != null "> and show_time = #{showTime}</if>
            <if test="languageId != null "> and language_id = #{languageId}</if>
        </where>
    </select>
    
    <select id="selectNewsById" parameterType="Long" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNews" parameterType="News" useGeneratedKeys="true" keyProperty="id">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="description != null">description,</if>
            <if test="views != null">views,</if>
            <if test="status != null">status,</if>
            <if test="showTime != null">show_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="languageId != null">language_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="description != null">#{description},</if>
            <if test="views != null">#{views},</if>
            <if test="status != null">#{status},</if>
            <if test="showTime != null">#{showTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="languageId != null">#{languageId},</if>
         </trim>
    </insert>

    <update id="addViews">
        update news set views = views + 1 where id = #{id}
    </update>

    <update id="updateNews" parameterType="News">
        update news
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="description != null">description = #{description},</if>
            <if test="views != null">views = #{views},</if>
            <if test="status != null">status = #{status},</if>
            <if test="showTime != null">show_time = #{showTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="languageId != null">language_id = #{languageId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNewsById" parameterType="Long">
        delete from news where id = #{id}
    </delete>

    <delete id="deleteNewsByIds" parameterType="String">
        delete from news where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="clearOldNews">
        delete from news where id <![CDATA[ <= ]]> (select id from (select id from news order by id desc limit 1000,1) as a)
    </delete>
</mapper>