<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StockEverydayRecordMapper">
    
    <resultMap type="StockEverydayRecord" id="StockEverydayRecordResult">
        <result property="id"    column="id"    />
        <result property="productCode"    column="product_code"    />
        <result property="nowPrice"    column="now_price"    />
        <result property="changeRate"    column="change_rate"    />
        <result property="openPrice"    column="open_price"    />
        <result property="closePrice"    column="close_price"    />
        <result property="businessAmount"    column="business_amount"    />
        <result property="businessVolume"    column="business_volume"    />
        <result property="maxPrice"    column="max_price"    />
        <result property="minPrice"    column="min_price"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectStockEverydayRecordVo">
        select id, product_code, now_price, change_rate, open_price, close_price, business_amount, business_volume, max_price, min_price, create_time from stock_everyday_record
    </sql>

    <select id="selectStockEverydayRecordList" parameterType="StockEverydayRecord" resultMap="StockEverydayRecordResult">
        <include refid="selectStockEverydayRecordVo"/>
        <where>  
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="nowPrice != null "> and now_price = #{nowPrice}</if>
            <if test="changeRate != null "> and change_rate = #{changeRate}</if>
            <if test="openPrice != null "> and open_price = #{openPrice}</if>
            <if test="closePrice != null "> and close_price = #{closePrice}</if>
            <if test="businessAmount != null "> and business_amount = #{businessAmount}</if>
            <if test="businessVolume != null "> and business_volume = #{businessVolume}</if>
            <if test="maxPrice != null "> and max_price = #{maxPrice}</if>
            <if test="minPrice != null "> and min_price = #{minPrice}</if>
        </where>
    </select>
    
    <select id="selectStockEverydayRecordById" parameterType="Long" resultMap="StockEverydayRecordResult">
        <include refid="selectStockEverydayRecordVo"/>
        where id = #{id}
    </select>

    <select id="selectLastRecordByProductCode" resultMap="StockEverydayRecordResult">
        <include refid="selectStockEverydayRecordVo"/>
        where product_code = #{productCode}
        order by id desc limit 1
    </select>

    <insert id="insertStockEverydayRecord" parameterType="StockEverydayRecord" useGeneratedKeys="true" keyProperty="id">
        insert into stock_everyday_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">product_code,</if>
            <if test="nowPrice != null">now_price,</if>
            <if test="changeRate != null">change_rate,</if>
            <if test="openPrice != null">open_price,</if>
            <if test="closePrice != null">close_price,</if>
            <if test="businessAmount != null">business_amount,</if>
            <if test="businessVolume != null">business_volume,</if>
            <if test="maxPrice != null">max_price,</if>
            <if test="minPrice != null">min_price,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">#{productCode},</if>
            <if test="nowPrice != null">#{nowPrice},</if>
            <if test="changeRate != null">#{changeRate},</if>
            <if test="openPrice != null">#{openPrice},</if>
            <if test="closePrice != null">#{closePrice},</if>
            <if test="businessAmount != null">#{businessAmount},</if>
            <if test="businessVolume != null">#{businessVolume},</if>
            <if test="maxPrice != null">#{maxPrice},</if>
            <if test="minPrice != null">#{minPrice},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <insert id="insertStockEverydayRecords">
        insert into stock_everyday_record (product_code, now_price, change_rate, open_price, close_price, business_amount, business_volume, max_price, min_price, create_time)
        values
        <foreach collection="stockEverydayRecords" index="index" item="item" open="(" separator="),(" close=")">
            #{item.productCode},#{item.nowPrice},#{item.changeRate},#{item.openPrice},#{item.closePrice},#{item.businessAmount},
            #{item.businessVolume},#{item.maxPrice},#{item.minPrice},#{item.createTime}
        </foreach>
    </insert>

    <update id="updateStockEverydayRecord" parameterType="StockEverydayRecord">
        update stock_everyday_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">product_code = #{productCode},</if>
            <if test="nowPrice != null">now_price = #{nowPrice},</if>
            <if test="changeRate != null">change_rate = #{changeRate},</if>
            <if test="openPrice != null">open_price = #{openPrice},</if>
            <if test="closePrice != null">close_price = #{closePrice},</if>
            <if test="businessAmount != null">business_amount = #{businessAmount},</if>
            <if test="businessVolume != null">business_volume = #{businessVolume},</if>
            <if test="maxPrice != null">max_price = #{maxPrice},</if>
            <if test="minPrice != null">min_price = #{minPrice},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockEverydayRecordById" parameterType="Long">
        delete from stock_everyday_record where id = #{id}
    </delete>

    <delete id="deleteStockEverydayRecordByIds" parameterType="String">
        delete from stock_everyday_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="cleanStockEverydayRecord">
        delete from stock_everyday_record where product_code in
        <foreach item="item" collection="productCodes" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>